<div class="container">
  <div class="table-responsive-lg">
    <h2>Investments Details</h2>
    <table class="table">
      <thead class="thead-light">
        <tr *ngIf="!isListAvailable">
          <th>
            No Investments are done till date. Please invest in yourself...
          </th>
        </tr>
        <tr *ngIf="isListAvailable">
          <th>Investment Name</th>
          <th>Investment Type</th>
          <th>Investment Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of investmentList">
          <td>{{ investment.investmentName }}</td>
          <td>{{ investment.investmentType }}</td>
          <td>{{ investment.investmentAmount | currency: "₹ " }}</td>
          <td>
            <button
              class="btn btn-info navbar-btn"
              (click)="updateInvestment(investment)"
            >
              Update
            </button>
            &nbsp;
            <button
              class="btn btn-danger navbar-btn"
              (click)="deleteInvestment(investment)"
            >
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="isListAvailable" style="color:darkmagenta">
          <td></td>
          <td><b>Total Income:</b></td>
          <td>
            <b
              ><i>{{ sumOfInvestment | currency: "₹ " }}</i></b
            >
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
