<div class="container">
  <div class="table-responsive-lg">
    <h2>Incomes Details</h2>
    <table class="table">
      <thead class="thead-light">
        <tr *ngIf="!isListAvailable">
          <th>
            No Incomes are added till date. Please get some income...
          </th>
        </tr>
        <tr *ngIf="isListAvailable">
          <th>Income Name</th>
          <th>Income Type</th>
          <th>Income Amount</th>
          <th>Income Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let income of incomeList">
          <td>{{ income.incomeName }}</td>
          <td>{{ income.incomeType }}</td>
          <td>{{ income.incomeAmount | currency: "₹ " }}</td>
          <td>{{ income.incomeNote }}</td>
          <td>
            <button
              class="btn btn-info navbar-btn"
              (click)="updateIncome(income)"
            >
              Update
            </button>
            &nbsp;
            <button
              class="btn btn-danger navbar-btn"
              (click)="deleteIncome(income)"
            >
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="isListAvailable" style="color:darkmagenta">
          <td></td>
          <td><b>Total Income:</b></td>
          <td>
            <b
              ><i>{{ sumOfIncome | currency: "₹ " }}</i></b
            >
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
